body {
    margin: 0; background: #050505; color: #eee; font-family: sans-serif;
    height: 100vh; overflow: hidden;
}

.layout { display: flex; height: 100%; }

.sidebar {
    width: 300px; background: #111; padding: 20px; 
    border-right: 1px solid #333; display: flex; flex-direction: column; gap: 15px;
}
.neon-title { color: #00f3ff; text-align: center; margin-top: 0; }

.control-group { display: flex; flex-direction: column; }
label { font-size: 0.8rem; color: #888; margin-bottom: 5px; font-weight: bold; }

select { padding: 10px; background: #222; color: white; border: 1px solid #444; border-radius: 5px; }

.checkboxes label { display: block; margin-bottom: 5px; cursor: pointer; font-weight: normal; }
input[type="checkbox"] { margin-right: 10px; }

button { padding: 15px; background: #00f3ff; border: none; font-weight: bold; cursor: pointer; border-radius: 5px; margin-top: 10px; }
button:hover { background: white; }

#status { padding: 10px; background: black; border-left: 4px solid #666; font-family: monospace; min-height: 40px; }

.map-container { flex-grow: 1; background: #080808; position: relative; overflow: auto; }

#map-grid {
    position: absolute; width: 1200px; height: 700px;
    background-image: url('/static/mapa_fondo.png');
    background-size: 100% 100%;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}

.node {
    position: absolute; transform: translate(-50%, -50%);
    border-radius: 50%; display: flex; justify-content: center; align-items: center;
    transition: all 0.2s;
}

.node.street {
    width: 8px; height: 8px; background: rgba(255, 255, 255, 0.2);
    font-size: 0; pointer-events: none;
}

.node.poi {
    width: 40px; height: 40px; background: #222; border: 2px solid #00f3ff;
    color: #00f3ff; font-weight: bold; font-size: 18px; z-index: 10;
    cursor: pointer; box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.node.active { background: #ffee00; box-shadow: 0 0 15px #ffee00; z-index: 100; }
.node.poi.start { background: #00f3ff; color: black; transform: translate(-50%, -50%) scale(1.2); }
.node.poi.end { background: #ff0055; border-color: #ff0055; color: white; transform: translate(-50%, -50%) scale(1.2); }
.node.poi.inter { background: #ff9900; border-color: #ff9900; color: black; transform: translate(-50%, -50%) scale(1.2); }

body.edit-mode .node.street { width: 20px; height: 20px; background: red; font-size: 10px; pointer-events: auto; cursor: grab; }